---
layout: default
---

{% assign unit=site.data.units | where: "order", page.order | first %}
<h1>{{site.data.lexicons[unit.category]}} {{unit.id}}{% if unit.title %} — {{unit.title }}{% endif %}</h1>

{% include nav.html %}

{% if unit.category=="lesson" %}
<h2><span style="color:gray;">Matn ♫</span> &emsp; {{unit.title}}</h2>

<p>{{unit.textcontent}}</p>

{% if unit.textcomment %}<h4>Nokte</h4><p>{{unit.textcomment}}</p>{% endif %}

<h5>{{unit.texttask}}</h5><p>{{unit.textquestions}}</p>

{% if unit.textcomment2 %}<h4>Nokte</h4><p>{{unit.textcomment2}}</p>{% endif %}

{% if unit.texttask2 %}<h5>{{unit.texttask2}}</h5><p>______________________________________ ______________________________________</p>{% endif %}

<h2><span style="color:gray;">Sāxtār</span></h2>

{% assign grammartopics = unit.grammartopics | split: "," %}{% for grammartopic in grammartopics %}
<h3><span style="color:gray;">Sāxtār {{ grammartopic }}</span> &emsp; {{site.data.grammartopicsnames[grammartopic]}}</h3>
{{site.data.grammartopics[grammartopic] | markdownify}}{% endfor %}


{% assign exercises = unit.exercises | split: "," %}{% for exercise in exercises %}
<h4><span style="color:gray;">{{ exercise }}. {{site.data.exercisetasks[exercise]}}</span></h4>
{{site.data.exercisetopics[exercise] | markdownify}}{% endfor %}

<h2><span style="color:gray;">Irān‐o irāni</span> &emsp; {{unit.linggeoname}}</h2>

<p>
{% if unit.iranoiraniimg!="" %}<span class="marginnote">{% assign imgs = unit.iranoiraniimg | split: "," %}{% for img in imgs %}<img src="/assets/img/units/{{img}}.jpg"><br>{{site.data.imagenames[img]}}<br>{% endfor %}</span>{% endif %}
{{unit.iranoiranitext}}</p>

{% if unit.textnotice %}<h4><span style="color:gray;">Nokte</span></h4><p>{{unit.textnotice}}</p>{% endif %}

<h4><span style="color:gray;">{{unit.textquestiontask}}</span></h4>
<p>{{unit.textquestions}}</p>

<h2><span style="color:gray;">Goftogu</span> &emsp; {{unit.dialogname}}</h2>
{% endif %}

{{ content }}

{% assign words=site.data.dictionary | where: "chapter", page.order %}
{% for word in words %}<strong>{{ word.farsi }}</strong> {{ word.exactr }} &emsp;&emsp;{% endfor %}

{% include nav.html %}
