---
layout: default
---

{% assign unit=site.data.units | where: "order", page.order | first %}
<h1>{{site.data.lexicons[unit.category]}} {{unit.id}}{% if unit.title %} — {{unit.title }}{% endif %}</h1>

{% include nav.html %}

{% if unit.category=="lesson" %}
<h2><span style="color:gray;">Matn ♫</span> &emsp; {{unit.title}}</h2>

{% capture audio_url %}/assets/audio/Matn-{{unit.id}}.mp3{% endcapture %}
{% include audio.html filename=audio_url %}

<p>{{unit.textcontent}}</p>

{% if unit.textcomment %}<h4>Nokte</h4><p>{{unit.textcomment}}</p>{% endif %}

<h5>{{unit.texttask}}</h5><p>{% if unit.texttaskanswer %}<span class="marginnote" id="texttask" style="transform: rotate(180deg);"><strong>Pāsoxhā</strong><br>{{unit.texttaskanswer}}</span>{% endif %}{{unit.textquestions}}</p>

{% if unit.textcomment2 %}<h4>Nokte</h4><p>{{unit.textcomment2}}</p>{% endif %}

{% if unit.texttask2 %}<h5>{{unit.texttask2}}</h5><p><span class="marginnote" id="texttask2" style="transform: rotate(180deg);"><strong>Pāsox</strong><br>{{unit.texttask2answer}}</span>______________________________________ ______________________________________</p>{% endif %}



<h2><span style="color:gray;">Sāxtār</span></h2>

{% assign grammartopics = unit.grammartopics | split: "," %}{% for grammartopic in grammartopics %}
<h3><span style="color:gray;">Sāxtār {{ grammartopic }}</span> &emsp; {{site.data.grammartopicsnames[grammartopic]}}</h3>
{{site.data.grammartopics[grammartopic] | markdownify}}{% endfor %}


{% assign exercises = unit.exercises | split: "," %}{% for exercise in exercises %}
<h4><span style="color:gray;">{{ exercise }}. {{site.data.exercisetasks[exercise]}}</span></h4>
<p>{% if site.data.exerciseanswers[exercise] %}<span class="marginnote" id="oralexercise{{exercise}}" style="transform: rotate(180deg);"><strong>Pāsox(hā)</strong><br>{{site.data.exerciseanswers[exercise]}}</span>{% endif %}{{site.data.exercisetopics[exercise] | markdownify}}</p>{% endfor %}

<h2><span style="color:gray;">Irān‐o irāni</span> &emsp; {{unit.linggeoname}}</h2>

{% capture audio_url %}/assets/audio/Reading-{{unit.id}}.mp3{% endcapture %}
{% include audio.html filename=audio_url %}

<p>
{% if unit.iranoiraniimg!="" %}<span class="marginnote">{% assign imgs = unit.iranoiraniimg | split: "," %}{% for img in imgs %}<img src="/assets/img/units/{{img}}.jpg"><br>{{site.data.imagenames[img]}}<br><em>{{site.data.imagecopyright[img]}}</em><br>{% endfor %}</span>{% endif %}
{{unit.iranoiranitext}}</p>

{% if unit.textnotice %}<h4><span style="color:gray;">Nokte</span></h4><p>{{unit.textnotice}}</p>{% endif %}

<h4><span style="color:gray;">{{unit.textquestiontask}}</span></h4>
<p>{% if unit.textquestiontaskanswer %}<span class="marginnote" id="textquestiontask" style="transform: rotate(180deg);"><strong>Pāsoxhā</strong><br>{{unit.textquestiontaskanswer}}</span>{% endif %}{{unit.textquestionsquestions}}</p>

<h2><span style="color:gray;">Goftogu</span> &emsp; {{unit.dialogname}}</h2>
{% capture audio_url %}/assets/audio/Dialog-{{unit.id}}.mp3{% endcapture %}
{% include audio.html filename=audio_url %}

{% if unit.dialog2  %}<h3>I</h3>{% endif %}

<p>{{unit.dialog1}}</p>

{% assign spokenvarians=site.data.spokenvarians | where: "division", unit.dialogwords1 %}
{% capture mdtable %}
|**{{site.data.lexicons["spoken"]}}**|**{{site.data.lexicons["written"]}}**|
{% for element in spokenvarians %}|{{element.spoken}}|{{element.written}}|
{% endfor %}
{% endcapture%}{{ mdtable | markdownify }}

{% if unit.dialognotes1 %}<h4><span style="color:gray;">Nokte</span></h4>{{unit.dialognotes1}}{% endif %}


{% if unit.dialog2  %}<h3>II</h3>

<p>{{unit.dialog2}}</p>

{% assign spokenvarians=site.data.spokenvarians | where: "division", unit.dialogwords2 %}
{% capture mdtable %}
|**{{site.data.lexicons["spoken"]}}**|**{{site.data.lexicons["written"]}}**|
{% for element in spokenvarians %}|{{element.spoken}}|{{element.written}}|
{% endfor %}
{% endcapture%}{{ mdtable | markdownify }}


{% if unit.dialognotes2 %}<h4><span style="color:gray;">Nokte</span></h4>{{unit.dialognotes2}}{% endif %}


{% endif %}

<h3><span style="color:gray;">Ebārathā/vāžehā</span></h3>

<p>{{unit.espressions}}</p>

{% assign oralexercises = unit.oralexercises | split: "," %}{% for exercise in oralexercises %}
<h4><span style="color:gray;">{{ exercise }}. {{site.data.oralexercisetasks[exercise]}}</span></h4>
<p>{% if site.data.oralexerciseanswers[exercise] %}<span class="marginnote" id="oralexercise{{exercise}}" style="transform: rotate(180deg);"><strong>Pāsox(hā)</strong><br>{{site.data.oralexerciseanswers[exercise]}}</span>{% endif %}{{site.data.oralexercisetopics[exercise] | markdownify}}{% endfor %}</p>

{% endif %}

{{ content }}

{% if unit.category=="lesson" %}
<h2>Vāžehā-ye dars-e {{ unit.id }}</h2>

{% assign words=site.data.dictionary | where: "chapter", unit.id %}

<p><table>
{% for word in words %}<tr><td><strong>{{ word.farsi }}</strong></td><td>{{ word.exactr }}</td><td>{{ word.exactf }}</td></tr>{% endfor %}
</table></p>
{% endif %}
{% include nav.html %}
